.top-nav {
    min-height: 70px;
    background: #054825;
    padding: 10px 0;
    
}

.top-nav a {
    color: #fff !important;
    font-weight: bold;    
}

.navbar-default {
    background-color: #054825 !important;
}