/*!
 * Carerott.com css 
 * Copyright 2015  Carerott.com.
 * Author: Qiqa Kotyi;
 */
 body {
 	font-family: sans-serif;
 	font-size: 12px;
 	background-color: rgb(245, 245, 245); 
 	color:  #dbffff;
 }

 .navbar-brand {

 }

.navbar-inverse {
	 background-color: rgba(242, 102, 41, 1);
	 color: #fff;
	 border-color:transparent;

}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: bold;
	margin: auto 15px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-primary {
	background-color: rgba(5, 72, 37, 1);
}

.logo-img {
    width: 122px;
    margin: -3px 14px auto;
    /*background-color: #fff;*/
    background: transparent none repeat scroll 0px 0px;
}

.user-img {
	width: 45px;
	margin: 3px 25px auto;
}

.user-name {
	font-weight: bold;
}

.main-container {
    margin: 73px 0px;
}

/*Sign up form style*/
.page-wrap {
    background-attachment: scroll;
    background-image: url("../img/header-bg.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

#wrap{
    padding: 15px 20px;
    margin-bottom: 22px;
    position: relative;
    transition: all 0.5s ease 0s;
    font-size: 14px;
    background: rgba(255, 255, 2255, 0.1) none repeat scroll 0% 0%;
    line-height: 22px;
    /*border: 1px solid rgba(255, 255, 255, 0.39);*/
    margin: 30px auto;
}
.form legend{
    color:#fff;
    font-size:25px;
    font-weight:bold;
}
.form h4 {
    color: #fff;
}
.form label ,.form span {
    color: #fff;
}

.signup-btn {
  background: #f4733a;
  background-image: -webkit-linear-gradient(top, #f4733a, #f4733a);
  background-image: -moz-linear-gradient(top, #f4733a, #f4733a);
  background-image: -ms-linear-gradient(top, #f4733a, #f4733a);
  background-image: -o-linear-gradient(top, #f4733a, #f4733a);
  background-image: linear-gradient(to bottom, #f4733a, #f4733a);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #f4733a  1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #f4733a, #f4733a);
  background-image: -moz-linear-gradient(top, #f4733a, #f4733a);
  background-image: -ms-linear-gradient(top, #f4733a, #f4733a);
  background-image: -o-linear-gradient(top, #f4733a, #f4733a);
  background-image: linear-gradient(to bottom, #f4733a, #f4733a);
  text-decoration: none;
}
.navbar-default .navbar-brand{
        color:#fff;
        font-size:30px;
        font-weight:bold;
    }
.form .form-control { margin-bottom: 10px; }


/*Sign up form style end*/



/*Left col*/
.left-col {
	/*margin: 60px auto;*/
}

.left-col .profile-sidebar {
    padding: 0;
}

.left-col ul {
	list-style: none;
	font-weight: bold;
	font-size: 13px;
	/*padding: 15px 0;*/
}
.left-col ul li {
	margin: 10px 10px 20px 0;
}
.left-col ul li a {
	font-weight: bold;
	font-size: 16px;
	color: #666;
}

.left-col span {
	padding: 5px;
}

.left-col-user-tasks ul li {
  border-bottom: 1px solid #f0f4f7;
}

.left-col-user-tasks ul li:last-child {
  border-bottom: none;
}

.left-col-user-tasks ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.left-col-user-tasks ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.left-col-user-tasks ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.left-col-user-tasks ul li.active {
  border-bottom: none;
}

.left-col-user-tasks ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/*Left col end*/


/*mid-col*/
.mid-col {
	background-color: #fff;
	/*margin: 60px auto;*/
}
.mid-col  li {
	list-style: none;
}
.share {
	margin: 20px auto;
}
.share-buttons {
	padding: 11px 15px;
	background-color: #fff;
}
.panel .share-buttons button {
    margin: -7px auto;
    border-radius: 0px;
    position: relative;
    z-index: 1;
    top: -1px;
    right: -1px;
    height: 32px;
    line-height: 32px;
    padding: 0px 20px;
}

.panel-default > .panel-heading {
	background-color: #fff;
}

.media, .media-body {
    overflow: hidden;
}

.media {
    margin-top: 15px;
}

.media-left {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-left: -20px;

}

.user-wrapper {
    width: 120px;
}

.panel.panel-default ul.comments {
    list-style: outside none none;
    padding: 0px;
    border-top: 1px solid #E2E9E6;
    margin-bottom: 0px;
}

.view-all-comments {
    display: block;
    padding: 3px 5px;
    background: #F5F5F5 none repeat scroll 0% 0%;
    font-weight: 500;
    font-size: 12px;
    color: #C2C2C2;
}

.panel.panel-default ul.comments li.media {
    overflow: visible;
    margin-top: 0px;
}
.panel.panel-default ul.comments li {
    border-bottom: 1px solid #F5F5F5;
    background: #FFF none repeat scroll 0% 0%;
    padding: 5px;
}
.media-object {
	width: 50px;
	height: 50px;
}
.media-left .date {
    background: #FFF none repeat scroll 0% 0%;
    font-weight: bold;
    padding: 4px;
    border: 1px solid #E8E8E8;
    color: #BDBDBD;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
    display: inline-block;
}

.comment-form .input-group {
	width: 100%;
}

/*Right Column*/
.right-col {
	/*margin: 60px auto;*/
}
.right-col-campaigns ul li {
  border-bottom: 1px solid #f0f4f7;
  padding: 10px;
}

.right-col-campaigns ul li:last-child {
  border-bottom: none;
}

.right-col-campaigns ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.right-col-campaigns ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.right-col-campaigns ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.right-col-campaigns ul li.active {
  border-bottom: none;
}

.right-col-campaigns ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.camp-img {
    width: 80%;
    height: 80%;
    margin-left: 18px;
    margin-right: auto;
    margin-top: 20px
}
/* Right col End*/

/*Profile*/

/* Profile container */
.profile {
  margin: 73px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.btn-follow {
    background-color: rgba(5, 72, 37, 1);
    color: #fff;
}
.btn-message {
    background-color: #F26629;
    color: #fff;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.user-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.user-summary  h5 {
    color: #5A7391;
    font-size: 16px;
    font-weight: 600;
}

.user-online-status {
    font-weight: bold;
}

.user-personal-info {
    border-bottom: 1px solid #ddd;
}

.user-personal-info ul li {
    padding: 5px 0;
    font-weight: bold;
}

.info-left ul,.info-right ul {
    list-style-type: none;
    padding: 10px;
}

/*Profile End*/

/*Messages*/

.msgs-search {
    padding: 0 20px;
} 

.msg-userpic {
    margin: 20px auto;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 10px 0;
    cursor: pointer;
}

.user-img-crop {
    padding-top: 5px; 
}

.msg-userpic .user-img {
    margin: 0;
}

.msg-userpic .profile-usertitle-name {
    font-size: 12px;
}

.profile-usertitle-name span {
    font-size: 10px;
    color: #888;
}

.message-content {
    padding: 20px;
    background: #FFF none repeat scroll 0% 0%;
    min-height: 460px;
}

.chats-row {
    padding: 6px 21px 12px 0px;
    border-bottom: 1px solid #ddd;
}

/*Messages End*/

/*Menotors Page style*/

.mentors-row {
    padding: 20px 0;
}

/*Menotors Page style End*/

@media screen and (min-width: 768px) {
    #adv-search {
        width: 300px;
        margin: 10px 23px 13px 45px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 300px;
    }

    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
  
}